<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="./main.css">
</head>
<body>
	<% if (agenda.length !== 0) {%>
		<%  // const date = new Date();
		    // let currentAgenda = `${
		   		//	date.getFullYear()}-${
		   		//	date.getMonth() < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)}-${
		   		//	date.getDate()}`;
		%>

		<% agenda.forEach((item) => { %>
		    <% 
		    	// if (item.date == currentAgenda) { 
		    %>
		    	<% const status = (status = item.status) => {
		    		switch (status) {
				    		case 0:
				    			return "events";
				    		case 1:
				    			return "notes";
				    		case 2:
				    			return "tasks";
				    		case 3:
				    			return "completed";
				    		case 4:
				    			return "irrelevant";
			    		}
			    	}; %>

				<p class="<%= status() %> item">
					<%= item.name %>
					<% if (item.date !== "" || item.time !== "") { %>
						(<%= item.date %>, <%=item.time %>)
					<% } %>
				</p>
			<% 
				// }
			%>
		<% }); %>
	<% } else { %>
		<h4>there are no schedule. insert one now.</h4>
	<% } %>

	<form action="/add" method="post" id="note-form">
		<input type="time" name="time">
		<input type="date" name="date">

		<br />

		<input type="text" name="name">

		<br />

		<textarea name="description"></textarea>

		<br />

		<input type="submit" value="add">
	</form>
	<script>
		const nf = document.getElementById("note-form");

		nf.addEventListener("submit", (event) => {
			event.preventDefault();
		})
</body>
</html>