<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="./main.css">
</head>
<body>
	<% if (agenda.length !== 0) {%>
		<% agenda.forEach((item) => { %>
			<h4 class="tasks">
				<%= item.name %>
			</h4>
			
			<p class="date">
				<%= item.date %> - <%=item.time %>
			</p>
			
			<p><%= item.description %></p>
		<% }); %>
	<% } else { %>
		<h4>there are no schedule. insert one now.</h4>
	<% } %>

	<form action="/add" method="post" id="note-form">
		<input type="time" name="time">
		<input type="date" name="date">

		<br />

		<input type="text" name="name">

		<br />

		<textarea name="description"></textarea>

		<br />

		<input type="submit" value="add">
	</form>
	<script>
		const nf = document.getElementById("note-form");

		nf.addEventListener("submit", (event) => {
			event.preventDefault();
		})
</body>
</html>