<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="./main.css">
</head>
<body>
	<% agenda.forEach((item) => { %>
		<h4 class="tasks">
			<%= item.name %>
		</h4>
		
		<p class="date">
			<%= item.date %>-<%=item.time %>
		</p>
		
		<p>a must tv program watch</p>
	<% }); %>
</body>
</html>